git+https://github.com/huggingface/transformers
git+https://github.com/pyannote/pyannote-audio
git+https://github.com/openai/whisper.git
ffmpeg-python
pandas
sacremoses
sentencepiece
tokenizers
torch
torchaudio
tqdm==4.64.1
EasyNMT==2.0.2   
nltk
transformers
pysrt
psutil==5.9.2
requests
gpuinfo
faster-whisper
yt-dlp
pynput==1.7.6
PyAudio==0.2.14
sounddevice==0.4.6
speechbrain==0.5.15
ffmpeg
insightface==0.7.3
numpy
onnxruntime
onnxruntime-gpu
opencv==4.09.0
opencv-python==4.9.0.80
ultralytics

